{% extends 'base.html' %}
{% load static %}
{% block content %} 

<h1>{{ student.Student_name }}'s Profile</h1>

{% if student.profile_picture %}
    <img src="{{ student.profile_picture.url }}" alt="Profile Picture" style="height: 200px; object-fit: cover;">
{% else %}
    <p>No profile picture available.</p>
{% endif %}

<table class="table">
    <tr>
        <th>Email</th>
        <td>{{ student.email }}</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>{{ student.phone_number }}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{ student.date_of_birth }}</td>
    </tr>
</table>

{% endblock %}
