<!DOCTYPE html>
{% load static %}
<html lang="en">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
  </head>
{% block content %} 
<h2>Add/DELETE TUTOR</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">ADD TUTOR</button>
</form>

<hr>

<h3>Existing tutors</h3>
<table>
    <thead>
        <tr>
            <th>TUTORS</th>
        </tr>
    </thead>
    <tbody>
        {% for tutor in tutors %}
        <tr>
            <td>{{ tutor.tutorname }}</td>
            <td>
                <a href="{% url 'deltutor' tutor.id %}" onclick="return confirm('Are you sure you want to delete this?')"class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<footer class="container py-5">
    <p>
      <a href="{% url 'home' %}">Return to Site</a>
      <a href="{% url 'adminpanel' %}">Return to admin panel</a>
    </p>
    <button onclick="window.history.back();" class="btn btn-secondary">Back</button>
  </footer>
{% endblock %}
