<!DOCTYPE html>
{% load static %}
<html lang="en">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
  </head>
<body>

    <!-- header-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: #ffffff">TutorAssist</a>
        

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#ffffff" role="button" data-bs-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">


              {% if not request.session.tutorlogin and not request.session.slogin %}
              <li><a class="dropdown-item" href="{% url 'slogin' %}">Student Login</a></li>
              <li><a class="dropdown-item" href="{% url 'tutorlogin' %}">Tutor Login</a></li>
              <li><a class="dropdown-item" href="{% url 'library' %}">library</a></li>
             
              {% else %}
              
              <li><a class="dropdown-item" href="{% url 'selecttest' %}">View tests</a></li>
              <li><a class="dropdown-item" href="{% url 'selecttest2' %}">answer test</a></li>
              <li><a class="dropdown-item" href="{% url 'library' %}">library</a></li>
              <li><a class="dropdown-item" href="{% url 'message' %}">Message</a></li>
              <li><a class="dropdown-item" href="{% url 'showfaq' %}">show faq</a></li>
              {% if request.session.tutorlogin %}
              <li><a class="dropdown-item" href="{% url 'addfaq' %}">add faq</a></li>
              <li><a class="dropdown-item" href="{% url 'addtests' %}">add test</a></li>
              {% endif %}

              {% endif %}
              <li><a class="dropdown-item" href="{% url 'logouta' %}">Logout</a></li>
            </ul>
          </li>

        </div>
</nav>


{% block content %} {% endblock %}
<!--header ends here-->

    <!-- footer start-->
    <footer class="container py-5">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2024 – 2025 TutorAssist, Inc. ·
          <a href="{% url 'contactus' %}">Contact Us</a>
        </p>
      </footer>
  
      <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    </body>
  </html>
  <!-- footer end-->