<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}

<div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      {% for carosel in carosels %}
      <div
        class="carousel-item {% if forloop.counter == 1 %} active {% endif %}"
      >
        <img src="{{carosel.img.url}}" class="d-block w-100" style="max-height: 500px; object-fit: cover;" alt="Slide 1" />
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button" 
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <section class="container my-4">
    <h1 class="text-center mb-4 section-heading">Services</h1>
    <div class="row">
  <!-- studnt logn card -->

      <div class="col-md-4">
        <div class="card">
          <img src="media/student.png" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;" />
          <div class="card-body">
            <h3 class="card-title">Student Login</h3>
            <p class="card-text">student login from here</p>
            <a href="{% url 'slogin' %}" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
  <!-- strudent login end -->

  <!-- tutor card starts -->

      <div class="col-md-4">
        <div class="card">
          <img src="media/tutor.png" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;" />
          <div class="card-body">
            <h3 class="card-title">tutor Login</h3>
            <p class="card-text">tutors login from here</p>
            <a href="{% url 'tutorlogin' %}" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>

  <!-- tutor card ends -->


  <!-- lib card starts -->

  <div class="col-md-4">
    <div class="card">
      <img src="media/lib.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;" />
      <div class="card-body">
        <h3 class="card-title">Library</h3>
        <p class="card-text">Acesss our Educational Liberary</p>
        <a href="#" class="btn btn-primary">Click here</a>
      </div>
    </div>
  </div>


<!--- lib card ends -->


  <!-- faq card starts -->

  <div class="col-md-4">
    <div class="card">
      <img src="media/faq.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;" />
      <div class="card-body">
        <h3 class="card-title">FAQ</h3>
        <p class="card-text">See Frequently Asked questions</p>
        <a href="{% url 'showfaq' %}" class="btn btn-primary">Click here</a>
      </div>
    </div>
  </div>
</div>
</section>
<!--- lib card ends -->


{% endblock %}